@use '@angular/material' as mat;
@use 'assets/styles/variables' as *;
@use 'assets/styles/breakpoints.scss';
@use 'assets/styles/global.scss';
@use 'assets/styles/mat-theming.scss';
@use 'assets/styles/mat-config-theme.scss';
@use 'assets/styles/animations.scss';
@import 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100dvh;
  margin: 0;
  color: $text-primary;
  background-color: $body-background;
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
