@use 'variables' as *;
// Supports weights 100-900
@import '@fontsource-variable/noto-serif';

.app-container {
  transition: margin-left 0.3s ease, width 0.3s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main {
  display: flex;
  margin-top: $heigth-nav-bar-destok;
  flex-direction: column;
  height: 100%;
  width: 100vw;

  @media (max-width: 768px) {
    margin-top: $heigth-nav-bar-mobile;
  }
}

.brand-content-center {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $heigth-nav-bar-destok;
  padding-block: 7px;
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    padding-block: 0;
    height: $heigth-nav-bar-mobile;
  }
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: $heigth-footer;
  display: flex;
  justify-content: center;
}

.font-noto-serif {
  font-family: 'Noto Serif Variable', serif;
}

/* Toast clases */
.toast-container {
  overflow: hidden;

  &.ngx-toastr {
    pointer-events: auto;
    position: fixed;
    z-index: 9999;
    width: auto;
    max-width: 400px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    position: relative;
    animation: slideInRight 0.2s ease-in forwards;

    .toast-icon {
      font-size: 1.5rem;
      position: absolute;
      top: 8px;
      left: 10px;
    }

    .toast-body {
      display: flex;
      flex-direction: column;
      margin-left: 40px;

      .toast-title {
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 5px;
      }

      .toast-message {
        font-size: 0.95rem;
      }
    }

    .toast-progress {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      width: 100%;
      background-color: transparent;
    }

    &.brand-toast-success {
      border: 1px solid $toast-success-border;
      color: $toast-success-color;

      .toast-progress {
        background-color: $toast-success-border;
      }
    }

    &.brand-toast-warning {
      border: 1px solid $toast-warning-border;
      color: $toast-warning-color;

      .toast-progress {
        background-color: $toast-warning-border;
      }
    }

    &.brand-toast-error {
      border: 1px solid $toast-error-border;
      color: $toast-error-color;

      .toast-progress {
        background-color: $toast-error-border;
      }
    }

    &.brand-toast-info {
      border: 1px solid $toast-info-border;
      color: $toast-info-color;

      .toast-progress {
        background-color: $toast-info-border;
      }
    }
  }
}

.brand-text-headline-color {
  @apply text-transparent bg-gradient-to-r from-green-400 to-[#06a606] bg-clip-text;
}

.right-text {
  text-align: right !important;
}

.center-text {
  text-align: center !important;
}
